<link rel="import" href="../polymer/polymer.html">

<polymer-element name="code-mirror" attributes="mode value" noscript>
<template>
	<link rel="stylesheet" href="/CodeMirror/lib/codemirror.css">
	<style type="text/css">
		:host {display: block;}
		.CodeMirror { height: 200px; border: 1px solid #ddd; }
		.CodeMirror-scroll { /*max-height: 400px;*/ }
		.CodeMirror pre { padding-left: 7px; line-height: 1.25; }
	</style>
	   <div id="wrapper">
	</div>
</template>
<script src="/CodeMirror/lib/codemirror.js"></script>
<script src="/CodeMirror/mode/xml/xml.js"></script>
<script src="/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/CodeMirror/mode/css/css.js"></script>
<script src="/CodeMirror/mode/vbscript/vbscript.js"></script>
<script src="/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript">
Polymer('code-mirror',{
	ready: function(){
      	//console.log(this.textContent)
      	this.editor = CodeMirror(this.$.wrapper , {
      				mode: this.mode,
      				indentUnit: 4,
      				lineNumbers: true,
      				value: this.textContent.trim() ,
      				matchBrackets: true});
	},
	get: function(){
		return this.editor.getValue()
	}
});
</script>
</polymer-element>