<!doctype html>
<html>
<head>
	<title>Polymerize : Playground for polymer elements</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	{% block morehead %}{% endblock %}
</head>
<body>
	<div class='wrapper'>
		 {% block content %}{% endblock %}
	</div>
	{% block morescript %}{% endblock %}
</body>
</html>