{% extends "base.html" %}
{% block morehead %}
<script type="text/javascript" src="/static/js/platform.js"></script>
<link rel="import" href="/static/components/code-mirror/code-mirror.html">
{% endblock %}
{% block content %}
<input type="hidden" id="run_id" value="{{run_id}}">
<input type="hidden" id="ref_id" value="{{ref_id}}">
<input type="text" id ="name" value="{{codesnap.element_name}}">
<input type="text" id="attr" placeholder="attributes" value="{{codesnap.element_attr}}">
<input type="text" id="extends" placeholder="extends" value="{{codesnap.element_extends}}">
<button id="run">run</button>
<button id="codesnap">codesnap</button>
<br>
<div id='iframeContainer'>
	polymer_dependencies :
	<select id="poly_depend" multiple style="width:170px;height:150px;">
		{% for reuse in all_reuseable %}
			<option value="{{reuse.key().id()}}" {% if reuse.key().id() in codesnap.polymer_imports %}selected{% endif %}>{{reuse.element_name}} v{{reuse.version}}</option>
		{% endfor %}
	</select>
	<iframe style="margin-top:30px;" id="view" name="view"></iframe>
</div>
index.html : 
	<code-mirror id="index" mode="htmlmixed" >
<pre>{{codesnap.index_body}}</pre>
	</code-mirror>
style : 
	<code-mirror id="style" mode="css">
<pre>{{codesnap.polymer_style}}</pre>
	</code-mirror>
shadow :
	<code-mirror id="shadow" mode="htmlmixed">
<pre>{{codesnap.polymer_shadow}}</pre>
	</code-mirror>
script :
	<code-mirror id="script" mode="javascript">
<pre>{{codesnap.polymer_script}}</pre>
	</code-mirror>
{% endblock %}
{% block morescript %}
<script type="text/javascript">
function getMultipleSelect(id){
	revtal = [];
	select = document.getElementById(id);
	for(var i = 0; i< select.length;i++){
		if(select[i].selected){
			revtal.push(parseInt(select[i].value))
		}
	}
	return revtal
}
document.getElementById('codesnap').addEventListener('click',function(){
	var xhr  = new XMLHttpRequest();
	xhr.open("post","http://snap.polymer-ize.appspot.com:8082",true);
	xhr.onreadystatechange = (function(theXhr){
		return function(e){
			if(theXhr.readyState !== 4) return;
			if(theXhr.status !== 200) return alert('error');
				var response = JSON.parse(theXhr.responseText)
				if(response.error) return alert(response.error)
				if(response.link){
					window.location.href = response.link;
				} //return alert("CodeSnap link : "+response.link)
			}
		})(xhr);
		var data = {
				name : document.getElementById('name').value,
				ref_id : document.getElementById('ref_id').value ,
				poly_depend : getMultipleSelect('poly_depend'),
				attr: document.getElementById('attr').value,
				extend : document.getElementById('extends').value,
				index: document.getElementById('index').get(),
				shadow: document.getElementById('shadow').get() ,
				style : document.getElementById('style').get() , 
				script: document.getElementById('script').get()
		};
		xhr.send(JSON.stringify(data));
});
document.getElementById('run').addEventListener("click",function(){
	run();
});
function run(){
	var xhr  = new XMLHttpRequest();
	xhr.open("post","/run",true);
	xhr.onreadystatechange = (function(scope){
		return function(e){
			if(xhr.readyState !== 4) return;
			if(xhr.status != 200) return alert('error');
			var  newIFrame = document.createElement('iframe');
			var oldIFrame = document.getElementById('view');
			document.getElementById('iframeContainer').replaceChild(newIFrame,oldIFrame);
			newIFrame.id = 'view';
			newIFrame.src = "http://run.polymer-ize.appspot.com:8081/snap?id="+document.getElementById('run_id').value;
		}
	})();
	var data = {
			//ref_id : document.getElementById('ref_id').value ,
			run_id : document.getElementById('run_id').value,
			name : document.getElementById('name').value,
			//body_depend : getMultipleSelect('body_depend'),
			poly_depend : getMultipleSelect('poly_depend'),
			attr: document.getElementById('attr').value,
			extend : document.getElementById('extends').value,
			index: document.getElementById('index').get(),
			shadow: document.getElementById('shadow').get() ,
			style : document.getElementById('style').get() , 
			script: document.getElementById('script').get()
	};
	xhr.send(JSON.stringify(data));
}
</script>
{% endblock %}