{% extends "base.html" %}
{% block content %}
<button onclick="login();">Login with Github</button>
<button onclick="play();">Play around</button>
{% endblock %}
{% block morescript %}
<script type="text/javascript">
function makeid(){
  	var text = "";
  	var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  	for( var i=0; i < 10; i++ )
      	text += possible.charAt(Math.floor(Math.random() * possible.length)); 
 	return text;
}
function login(){
	var state = makeid()
	window.location.replace('https://github.com/login/oauth/authorize?client_id=1a423425e001aca765fe&scope=user,public_repo&state=' + state);
}
</script>
<script type="text/javascript">
function play(){
	window.location.href = "http://snap.polymer-ize.appspot.com:8082"
}
</script>
{% endblock %}