<link rel="import" href="/static/components/polymer/polymer.html">
{% for depend in all_dependencies %}
<polymer-element name="{{depend.element_name}}" attributes="{{depend.element_attr}}" extends="{{depend.element_extends}}" noscript>
<template>
	<style>
	{{depend.polymer_style|safe}}
	</style>
	{{depend.polymer_shadow |safe}}
</template>
<script>
{{depend.polymer_script|safe}}
</script>
</polymer-element>
{% endfor %}
<polymer-element name="{{polymer.name}}" attributes="{{polymer.attr}}" extends="{{polymer.extend}}" noscript>
<template>
	<style>{{polymer.style |safe }}</style>
	{{polymer.shadow | safe}}
</template>
<script>
{{polymer.script | safe }}
</script>
</polymer-element>