{% extends "base.html" %}
{% block content %}
<form method='post' action='/create_element'>
	<input name="name" type="text" style="width:200px;" placeholder='element name (eg. my-tab)'><br>
	<select multiple style="width:200px;" name="imports">
		{% for element in elements %}
		<option value="{{element.key().id()}}">{{element.element_name}} v{{element.version}}</option>
		{% endfor %}
	</select><br>
	<input name="submit" value="CREATE ELEMENT" type="submit">
</form>

{% for group in my_elements|groupby('publish_sync') %}
<h2>{% if group.grouper %}Released{% else %}Unreleased{% endif %}</h2>
<ol>
	{% for el in group.list %}
	<li><a href="/play?id={{el.key().id()}}">{{el.element_name}}</a></li>
	{% endfor %}
</ol>
{% endfor %}
{% endblock %}