{% extends  "base.html" %}
{% block morehead %}
<script type="text/javascript" src="/static/js/platform.js"></script>
<link rel="import" href="/static/components/code-mirror/code-mirror.html">
{% endblock %}
{% block content %}
<h2>{{name}}</h2>
<input type="hidden" id="comp_id" value="{{comp_id}}">
<input type="text" id="attr" placeholder="attributes" value="{{attr}}">
<input type="text" id="extends" placeholder="extends" value="{{extends}}">
<button id="run">run</button>
<button id="save">save</button>
<button id="release">release</button>
<button id="codesnap">codesnap</button>
<br>
<div id='iframeContainer'>
	polymer_dependencies :
	<select id="poly_depend" multiple style="width:170px;height:150px;">
		{% for reuse in reuseables %}
			<option value="{{reuse.key().id()}}" {% if reuse.key().id() in poly_depend %}selected{% endif %}>{{reuse.element_name}} version {{reuse.version}}</option>
		{% endfor %}
	</select>
	<iframe style="margin-top:30px;" id="view" name="view"></iframe>
</div>
index.html : 
	<code-mirror id="index" mode="htmlmixed" >
<pre>{{body}}</pre>
	</code-mirror>
style : 
	<code-mirror id="style" mode="css">
<pre>{{style}}</pre>
	</code-mirror>
shadow :
	<code-mirror id="shadow" mode="htmlmixed">
<pre>{{shadow}}</pre>
	</code-mirror>
script :
	<code-mirror id="script" mode="javascript">
<pre>{{script}}</pre>
	</code-mirror>
{% endblock %}
{% block morescript %}
<script type="text/javascript">
function getMultipleSelect(id){
	revtal = [];
	select = document.getElementById(id);
	for(var i = 0; i< select.length;i++){
		if(select[i].selected){
			revtal.push(parseInt(select[i].value))
		}
	}
	return revtal
}
document.getElementById('run').addEventListener('click',runClicked)
function runClicked(){
	run();	
}
function run () {
	//console.log(getMultipleSelect('body_depend'))
	var xhr  = new XMLHttpRequest();
		xhr.open("post","/run",true);
		xhr.onreadystatechange = (function(scope){
			return function(e){
				if(xhr.readyState !== 4) return;
				if(xhr.status != 200) return alert('error');
				var  newIFrame = document.createElement('iframe');
				var oldIFrame = document.getElementById('view');
				document.getElementById('iframeContainer').replaceChild(newIFrame,oldIFrame);
				newIFrame.id = 'view';
				newIFrame.src = "http://run.polymer-ize.appspot.com:8081?"+document.cookie.split('||')[0];
			}
		})();
		var data = {

				comp_id : document.getElementById('comp_id').value ,
				//body_depend : getMultipleSelect('body_depend'),
				poly_depend : getMultipleSelect('poly_depend'),
				attr: document.getElementById('attr').value,
				extend : document.getElementById('extends').value,
				index: document.getElementById('index').get(),
				shadow: document.getElementById('shadow').get() ,
				style : document.getElementById('style').get() , 
				script: document.getElementById('script').get()
		};
		xhr.send(JSON.stringify(data));
}
document.getElementById('save').addEventListener('click',saveClicked);
function saveClicked(){
	save();
}
function save(callback){
	var xhr  = new XMLHttpRequest();
		xhr.open("post","/save",true);
		xhr.onreadystatechange = (function(theXhr){
			return function(e){
				if(theXhr.readyState !== 4) return;
				if(theXhr.status !== 200) return alert('error');
				var  newIFrame = document.createElement('iframe');
				var oldIFrame = document.getElementById('view');
				document.getElementById('iframeContainer').replaceChild(newIFrame,oldIFrame);
				newIFrame.id = 'view';
				newIFrame.src = "http://run.polymer-ize.appspot.com:8081?"+document.cookie.split('||')[0];
				if(callback) callback()
			}
		})(xhr);
		var data = {
				comp_id : document.getElementById('comp_id').value ,
				//body_depend : getMultipleSelect('body_depend'),
				poly_depend : getMultipleSelect('poly_depend'),
				attr: document.getElementById('attr').value,
				extend : document.getElementById('extends').value,
				index: document.getElementById('index').get(),
				shadow: document.getElementById('shadow').get() ,
				style : document.getElementById('style').get() , 
				script: document.getElementById('script').get()
		};
		xhr.send(JSON.stringify(data));
		//if(callback) callback()
}
document.getElementById('release').addEventListener('click',releaseClicked)
function releaseClicked(){
	save(function(){
		window.location.href = "/release?id={{comp_id}}";
	});
}
document.getElementById('codesnap').addEventListener('click',snapShotClicked);
function snapShotClicked(){
	var xhr  = new XMLHttpRequest();
		xhr.open("post","http://snap.polymer-ize.appspot.com:8082",true);
		xhr.onreadystatechange = (function(theXhr){
			return function(e){
				if(theXhr.readyState !== 4) return;
				if(theXhr.status !== 200) return alert('error');
				//var  newIFrame = document.createElement('iframe');
				//var oldIFrame = document.getElementById('view');
				//document.getElementById('iframeContainer').replaceChild(newIFrame,oldIFrame);
				//newIFrame.id = 'view';
				//newIFrame.src = "http://run.polymer-ize.appspot.com:8081?"+document.cookie.split('||')[0];
				//if(callback) callback()
				var response = JSON.parse(theXhr.responseText)
				if(response.error) return alert(response.error)
				if(response.link){
					window.location.href = response.link;
				} //return alert("CodeSnap link : "+response.link)
			}
		})(xhr);
		var data = {
				comp_id : document.getElementById('comp_id').value ,
				poly_depend : getMultipleSelect('poly_depend'),
				attr: document.getElementById('attr').value,
				extend : document.getElementById('extends').value,
				index: document.getElementById('index').get(),
				shadow: document.getElementById('shadow').get() ,
				style : document.getElementById('style').get() , 
				script: document.getElementById('script').get()
		};
		xhr.send(JSON.stringify(data));
}
</script>
{% endblock %}