{% extends "base.html" %}
{% block content %}
<form method="post">
	<h2>{{component.element_name}}</h2>
	<label>Version  : <input type="text" name="version"></label><br>
	<label>Basic Use : <textarea name="basicuse"></textarea></label><br>
	<label>Additional Feature : <textarea name="additional"></textarea></label><br>
	<label>Whats new : <textarea name='whatsnew'></textarea></label>
	<h3>code :</h3>
	<pre><code>
&lt;polymer-element name=&quot;{{component.element_name}}&quot; attributes=&quot;{{component.element_attr}}&quot; extends=&quot;{{component.element_extends}}&quot;&gt;
    &lt;template&gt;
    &lt;style&gt;
{{component.polymer_style|indent(8,true)}}
    &lt;/style&gt;
{{component.polymer_shadow|indent(8,true)}}
    &lt;/template&gt;
    &lt;script&gt;
{{component.polymer_script|indent(8,true)}}
    &lt;/script&gt;
&lt;/polymer-elment&gt;
	</code></pre>
	<input name="submit" type="submit">
</form>
{% endblock %}