<!doctype html>
<html>
<head>
	<title>Polymerize : &lt;{{name}}&gt;>
	<link rel="stylesheet" type="text/css" href="/static//style.css">
	{% block morehead %}{% endblock %}
</head>
<body>
	{{}}
</body>
</html>