<!doctype html>
<html>
<head>
	<script type="text/javascript" src="/static/js/platform.js"></script>
	{% if run_id %}
	<link rel="import" href="/component/snap?id={{run_id}}">
	{% else %}
	<link rel="import" href="/component?uid={{uid}}">
	{% endif %}
</head>
<body>
	{{data['index'] | safe}}
</body>
</html>